menu "NMDA-ESP32 SPECIFICS"

config OTA_URL
    string "OTA binary file URL"
    default "https://github.com/diego-acc/Neutron-Monitor-Data-Acquisition/releases/download/latest/main.bin"

config OTA_HASH
    string "OTA hash file URL"
    default "https://github.com/diego-acc/Neutron-Monitor-Data-Acquisition/releases/download/latest/hash"

config OTA_TIME
    string "OTA to verify hash"
    default "3600"

config MQTT_HOST
    string "MQTT BROKER"
    default "my broker"

config MQTT_PORT
    string "MQTT PORT"
    default "1883"

config MQTT_USER
    string "MQTT USER"
    default "my mqtt user"

config MQTT_PASS
    string "MQTT_PASS"
    default "my mqtt pass"

config SPI_MOSI_PIN
    int "SPI MOSI PIN"
    default 23

config SPI_MISO_PIN
    int "SPI MISO PIN"
    default 19

config SPI_CLK_PIN 
    int "SPI CLK PIN"
    default 18

config SPI_SDCARD_CS_PIN
    int "SPI SDCARD CS PIN"
    default 5

endmenu
